
header>nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 44);
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
}

header>nav>ul>li {
  float: left;
}

header>nav>ul>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header>nav>ul>li>a:hover {
  background-color: rgb(6, 29, 80);
}